# ROCm/TheRock Python wheel requirements

--index-url https://rocm.nightlies.amd.com/whl-multi-arch/
rocm[devel,libraries]==10.1.0a20260806

# ROCm device target packages required by the rocBLAS tests.
rocm-sdk-device-gfx942==10.1.0a20260806
rocm-sdk-device-gfx950==10.1.0a20260806
rocm-sdk-device-gfx1100==10.1.0a20260806
rocm-sdk-device-gfx1201==10.1.0a20260806
